
.metadata/.lock
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/1/40251e551ba1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/1b/d0c2b6c51ba1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/2f/70f898bc1ca1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/3/e052475f1fa1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/34/604cd8801ba1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/3e/00545c101aa1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/3f/70843d1d18a1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/4/60180aff1ca1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/46/90ab1ed41fa1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/46/e04d58c11fa1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/4e/502a4b1b18a1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/4f/a08c88ff1ba1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/5c/c067cc0c20a1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/5f/b04554f57ba2001b1230fc4685096a55
.metadata/.plugins/org.eclipse.core.resources/.history/64/3078d6a31ca1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/64/e07b242319a1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/65/607947cb1ba1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/70/9060bd0216a1001b1a14e64765cb119e
.metadata/.plugins/org.eclipse.core.resources/.history/73/60066b191da1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/74/90c792471ca1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/78/40d39f7182a2001b1791bbdbe8516b1c
.metadata/.plugins/org.eclipse.core.resources/.history/78/f040031d20a1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/7b/00f8922380a2001b1230fc4685096a55
.metadata/.plugins/org.eclipse.core.resources/.history/7e/60c7474918a1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/82/005b7b8e7ea2001b1230fc4685096a55
.metadata/.plugins/org.eclipse.core.resources/.history/83/50511b381da1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/88/20f600897fa2001b1230fc4685096a55
.metadata/.plugins/org.eclipse.core.resources/.history/8d/502c160818a1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/8f/70981f4d1aa1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/94/e06d020620a1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/a0/c07aa15a8ea2001b1791bbdbe8516b1c
.metadata/.plugins/org.eclipse.core.resources/.history/a1/f0e03f721ba1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/a5/a0c980161ba1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/a5/f09c248c82a2001b1791bbdbe8516b1c
.metadata/.plugins/org.eclipse.core.resources/.history/a7/d0fd35061ca1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/a7/e033a72a18a1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/a9/a0c3bc937fa2001b1230fc4685096a55
.metadata/.plugins/org.eclipse.core.resources/.history/ae/206ed11b14a1001b134c85b94ee4ce48
.metadata/.plugins/org.eclipse.core.resources/.history/b0/50de802218a1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/b0/a04a3fef20a1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/b1/d03402f218a1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/b8/b04bfa5e1ca1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/b9/909132fd82a2001b1791bbdbe8516b1c
.metadata/.plugins/org.eclipse.core.resources/.history/bb/90795f1020a1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/c1/d07c2ae320a1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/c4/b0e3a30e1ca1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/ca/c0e1961118a1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/ce/e07936151ca1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/d1/0034936e18a1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/d4/002c6f781ca1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/db/b084f96d1ba1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/df/d016d2c71da1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/e5/b06e0c0820a1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/e6/80bcc23d83a2001b1791bbdbe8516b1c
.metadata/.plugins/org.eclipse.core.resources/.history/e6/c09bbd3e19a1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/ea/a05f824d1fa1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/eb/500236cb1da1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/f5/70aad03b18a1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/f6/60c85a5a1ba1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/fb/000f0f2c1da1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.history/fd/50b936831ca1001b1583ee1344f4b8d5
.metadata/.plugins/org.eclipse.core.resources/.projects/TextToSpeechApp/.indexes/7/52/3/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TextToSpeechApp/.indexes/7/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TextToSpeechApp/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TextToSpeechApp/.indexes/e4/1b/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TextToSpeechApp/.indexes/e4/3b/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TextToSpeechApp/.indexes/e4/52/3/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TextToSpeechApp/.indexes/e4/be/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TextToSpeechApp/.indexes/e4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TextToSpeechApp/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/TextToSpeechApp/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/7.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.mpc.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.fx.ide.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/GUIController.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.mpc.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.equinox.p2.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.fx.ide.css.cssext.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.fx.ide.css.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.core/1102354409.index
.metadata/.plugins/org.eclipse.jdt.core/113544824.index
.metadata/.plugins/org.eclipse.jdt.core/1230375882.index
.metadata/.plugins/org.eclipse.jdt.core/1704956129.index
.metadata/.plugins/org.eclipse.jdt.core/1740872023.index
.metadata/.plugins/org.eclipse.jdt.core/1949833863.index
.metadata/.plugins/org.eclipse.jdt.core/2080277838.index
.metadata/.plugins/org.eclipse.jdt.core/2209861264.index
.metadata/.plugins/org.eclipse.jdt.core/2227786841.index
.metadata/.plugins/org.eclipse.jdt.core/2329971282.index
.metadata/.plugins/org.eclipse.jdt.core/2384986211.index
.metadata/.plugins/org.eclipse.jdt.core/2433425156.index
.metadata/.plugins/org.eclipse.jdt.core/2598957045.index
.metadata/.plugins/org.eclipse.jdt.core/2661293508.index
.metadata/.plugins/org.eclipse.jdt.core/2795265832.index
.metadata/.plugins/org.eclipse.jdt.core/2803054540.index
.metadata/.plugins/org.eclipse.jdt.core/2822736804.index
.metadata/.plugins/org.eclipse.jdt.core/3392969303.index
.metadata/.plugins/org.eclipse.jdt.core/3461752836.index
.metadata/.plugins/org.eclipse.jdt.core/3528407621.index
.metadata/.plugins/org.eclipse.jdt.core/3551552156.index
.metadata/.plugins/org.eclipse.jdt.core/3597645588.index
.metadata/.plugins/org.eclipse.jdt.core/3643736272.index
.metadata/.plugins/org.eclipse.jdt.core/368191065.index
.metadata/.plugins/org.eclipse.jdt.core/3710130960.index
.metadata/.plugins/org.eclipse.jdt.core/3890964253.index
.metadata/.plugins/org.eclipse.jdt.core/3895588881.index
.metadata/.plugins/org.eclipse.jdt.core/389779400.index
.metadata/.plugins/org.eclipse.jdt.core/4062864311.index
.metadata/.plugins/org.eclipse.jdt.core/4104342188.index
.metadata/.plugins/org.eclipse.jdt.core/414759181.index
.metadata/.plugins/org.eclipse.jdt.core/483966528.index
.metadata/.plugins/org.eclipse.jdt.core/512056584.index
.metadata/.plugins/org.eclipse.jdt.core/769398222.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/TextToSpeechApp/2021/4/16/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/TextToSpeechApp/2021/4/16/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.0.20200318-1040.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wildwebdeveloper.xml/system-catalog.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.sse.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/.plugins/org.eclipse.xtend.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.xtend.ide/resource.change.registry
.metadata/.plugins/org.eclipse.xtext.builder/builder.state
.metadata/version.ini
