Button.pausebutton {
	-fx-background-image: url("../images/pausebutton.png");
	-fx-background-position: center;
	-fx-background-size: 100%;
	-fx-background-repeat: stretch;
	-fx-background-color:transparent;
	-fx-opacity: 1.0;
	-fx-view-order: -1;
}

Button.pausebutton:hover {
	-fx-background-image: url("../images/pausebuttonhover.png");
}

Button.pausebutton:pressed {
	-fx-background-image: url("../images/pausebuttonpressed.png");
}