.playbutton {
	-fx-background-image: url("../images/playbutton.png");
	-fx-background-position: center;
	-fx-background-size: 100%;
	-fx-background-repeat: stretch;
	-fx-background-color:transparent;
	-fx-opacity: 1.0;
	-fx-view-order: -1;
}

.playbutton:hover {
	-fx-background-image: url("../images/playbuttonhover.png");
}

.playbutton:pressed {
	-fx-background-image: url("../images/playbuttonpressed.png");
}

/*.pausebutton {
	-fx-background-image: url("../images/playbutton.png");
	-fx-background-position: center;
	-fx-background-size: 100%;
	-fx-background-repeat: stretch;
	-fx-background-color:transparent;
	-fx-opacity: 1.0;
	-fx-view-order: -1;
}

.pausebutton:hover {
	-fx-background-image: url("../images/pausebuttonhover.png");
}

.pausebutton:pressed {
	-fx-background-image: url("../images/pausebuttonpressed.png");
}*/