.rewind {
	-fx-min-height: 55px;
	-fx-max-height: 55px;
	-fx-min-width: 55px;
	-fx-max-width: 55px;
	-fx-background-image: url("rewind.png");
	-fx-background-position: center;
	-fx-background-size: 100%;
	-fx-background-repeat: stretch;
	-fx-background-color:transparent;
	-fx-opacity: 1.0;
}

.rewind:hover {
	-fx-opacity: 0.8;
}

/*.rewind:pressed {
	-fx-background-image: url("rewindpressed.png");
}*/

