.soundbutton {
	-fx-background-image: url("sound2.png");
	-fx-background-position: center;
	-fx-background-repeat: stretch;
	-fx-background-color:transparent;
	-fx-background-size: 100%;
}

.soundbutton:hover {
	-fx-background-image: url("soundhover.png");
}

.soundbutton:pressed {
	-fx-background-image: url("soundpressed.png");
}